.table__item--perc-1 {
  background-image: linear-gradient(to top, #B23850 1%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-2 {
  background-image: linear-gradient(to top, #B23850 2%, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-3 {
  background-image: linear-gradient(to top, #B23850 3%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-4 {
  background-image: linear-gradient(to top, #B23850 4%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-5 {
  background-image: linear-gradient(to top, #B23850 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-6 {
  background-image: linear-gradient(to top, #B23850 6%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-7 {
  background-image: linear-gradient(to top, #B23850 7%, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-8 {
  background-image: linear-gradient(to top, #B23850 8%, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-9 {
  background-image: linear-gradient(to top, #B23850 9%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-10 {
  background-image: linear-gradient(to top, #B23850 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-11 {
  background-image: linear-gradient(to top, #B23850 11%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-12 {
  background-image: linear-gradient(to top, #B23850 12%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-13 {
  background-image: linear-gradient(to top, #B23850 13%, rgba(255, 255, 255, 0) 13%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-14 {
  background-image: linear-gradient(to top, #B23850 14%, rgba(255, 255, 255, 0) 14%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-15 {
  background-image: linear-gradient(to top, #B23850 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-16 {
  background-image: linear-gradient(to top, #B23850 16%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-17 {
  background-image: linear-gradient(to top, #B23850 17%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-18 {
  background-image: linear-gradient(to top, #B23850 18%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-19 {
  background-image: linear-gradient(to top, #B23850 19%, rgba(255, 255, 255, 0) 19%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-20 {
  background-image: linear-gradient(to top, #B23850 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-21 {
  background-image: linear-gradient(to top, #B23850 21%, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-22 {
  background-image: linear-gradient(to top, #B23850 22%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-23 {
  background-image: linear-gradient(to top, #B23850 23%, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-24 {
  background-image: linear-gradient(to top, #B23850 24%, rgba(255, 255, 255, 0) 24%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-25 {
  background-image: linear-gradient(to top, #B23850 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-26 {
  background-image: linear-gradient(to top, #B23850 26%, rgba(255, 255, 255, 0) 26%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-27 {
  background-image: linear-gradient(to top, #B23850 27%, rgba(255, 255, 255, 0) 27%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-28 {
  background-image: linear-gradient(to top, #B23850 28%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-29 {
  background-image: linear-gradient(to top, #B23850 29%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-30 {
  background-image: linear-gradient(to top, #B23850 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-31 {
  background-image: linear-gradient(to top, #B23850 31%, rgba(255, 255, 255, 0) 31%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-32 {
  background-image: linear-gradient(to top, #B23850 32%, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-33 {
  background-image: linear-gradient(to top, #B23850 33%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-34 {
  background-image: linear-gradient(to top, #B23850 34%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-35 {
  background-image: linear-gradient(to top, #B23850 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-36 {
  background-image: linear-gradient(to top, #B23850 36%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-37 {
  background-image: linear-gradient(to top, #B23850 37%, rgba(255, 255, 255, 0) 37%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-38 {
  background-image: linear-gradient(to top, #B23850 38%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-39 {
  background-image: linear-gradient(to top, #B23850 39%, rgba(255, 255, 255, 0) 39%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-40 {
  background-image: linear-gradient(to top, #B23850 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-41 {
  background-image: linear-gradient(to top, #B23850 41%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-42 {
  background-image: linear-gradient(to top, #B23850 42%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-43 {
  background-image: linear-gradient(to top, #B23850 43%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-44 {
  background-image: linear-gradient(to top, #B23850 44%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-45 {
  background-image: linear-gradient(to top, #B23850 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-46 {
  background-image: linear-gradient(to top, #B23850 46%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-47 {
  background-image: linear-gradient(to top, #B23850 47%, rgba(255, 255, 255, 0) 47%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-48 {
  background-image: linear-gradient(to top, #B23850 48%, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-49 {
  background-image: linear-gradient(to top, #B23850 49%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-50 {
  background-image: linear-gradient(to top, #B23850 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-51 {
  background-image: linear-gradient(to top, #B23850 51%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-52 {
  background-image: linear-gradient(to top, #B23850 52%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-53 {
  background-image: linear-gradient(to top, #B23850 53%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-54 {
  background-image: linear-gradient(to top, #B23850 54%, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-55 {
  background-image: linear-gradient(to top, #B23850 55%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-56 {
  background-image: linear-gradient(to top, #B23850 56%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-57 {
  background-image: linear-gradient(to top, #B23850 57%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-58 {
  background-image: linear-gradient(to top, #B23850 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-59 {
  background-image: linear-gradient(to top, #B23850 59%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-60 {
  background-image: linear-gradient(to top, #B23850 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-61 {
  background-image: linear-gradient(to top, #B23850 61%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-62 {
  background-image: linear-gradient(to top, #B23850 62%, rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-63 {
  background-image: linear-gradient(to top, #B23850 63%, rgba(255, 255, 255, 0) 63%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-64 {
  background-image: linear-gradient(to top, #B23850 64%, rgba(255, 255, 255, 0) 64%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-65 {
  background-image: linear-gradient(to top, #B23850 65%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-66 {
  background-image: linear-gradient(to top, #B23850 66%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-67 {
  background-image: linear-gradient(to top, #B23850 67%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-68 {
  background-image: linear-gradient(to top, #B23850 68%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-69 {
  background-image: linear-gradient(to top, #B23850 69%, rgba(255, 255, 255, 0) 69%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-70 {
  background-image: linear-gradient(to top, #B23850 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-71 {
  background-image: linear-gradient(to top, #B23850 71%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-72 {
  background-image: linear-gradient(to top, #B23850 72%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-73 {
  background-image: linear-gradient(to top, #B23850 73%, rgba(255, 255, 255, 0) 73%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-74 {
  background-image: linear-gradient(to top, #B23850 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-75 {
  background-image: linear-gradient(to top, #B23850 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-76 {
  background-image: linear-gradient(to top, #B23850 76%, rgba(255, 255, 255, 0) 76%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-77 {
  background-image: linear-gradient(to top, #B23850 77%, rgba(255, 255, 255, 0) 77%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-78 {
  background-image: linear-gradient(to top, #B23850 78%, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-79 {
  background-image: linear-gradient(to top, #B23850 79%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-80 {
  background-image: linear-gradient(to top, #B23850 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-81 {
  background-image: linear-gradient(to top, #B23850 81%, rgba(255, 255, 255, 0) 81%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-82 {
  background-image: linear-gradient(to top, #B23850 82%, rgba(255, 255, 255, 0) 82%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-83 {
  background-image: linear-gradient(to top, #B23850 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-84 {
  background-image: linear-gradient(to top, #B23850 84%, rgba(255, 255, 255, 0) 84%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-85 {
  background-image: linear-gradient(to top, #B23850 85%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-86 {
  background-image: linear-gradient(to top, #B23850 86%, rgba(255, 255, 255, 0) 86%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-87 {
  background-image: linear-gradient(to top, #B23850 87%, rgba(255, 255, 255, 0) 87%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-88 {
  background-image: linear-gradient(to top, #B23850 88%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-89 {
  background-image: linear-gradient(to top, #B23850 89%, rgba(255, 255, 255, 0) 89%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-90 {
  background-image: linear-gradient(to top, #B23850 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-91 {
  background-image: linear-gradient(to top, #B23850 91%, rgba(255, 255, 255, 0) 91%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-92 {
  background-image: linear-gradient(to top, #B23850 92%, rgba(255, 255, 255, 0) 92%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-93 {
  background-image: linear-gradient(to top, #B23850 93%, rgba(255, 255, 255, 0) 93%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-94 {
  background-image: linear-gradient(to top, #B23850 94%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-95 {
  background-image: linear-gradient(to top, #B23850 95%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-96 {
  background-image: linear-gradient(to top, #B23850 96%, rgba(255, 255, 255, 0) 96%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-97 {
  background-image: linear-gradient(to top, #B23850 97%, rgba(255, 255, 255, 0) 97%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-98 {
  background-image: linear-gradient(to top, #B23850 98%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-99 {
  background-image: linear-gradient(to top, #B23850 99%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}

.table__item--perc-100 {
  background-image: linear-gradient(to top, #B23850 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%, #B23850 100%);
}
